@charset "utf-8";
#Menu {
	position: relative;
	left:200px;
	width:500px;
	border-radius:10px;
	border:thick solid #FFF;
	background-color:rgba(255,255,255,0.3);	
	
}
#Menu .listHolder {
	display:block;
	height:400px;		
	width: 700px;
	overflow-y: scroll;
	overflow-x: hidden;	
	margin-left:-215px;
	margin-right:auto;
}
#Menu .listHolder>ul{
	width:450px;
	float:right;

}
.ubutton:active{	
	-webkit-filter: brightness(2);	
}

#menu-title {
	width: 500px;
	text-align: center;
}

#myArrow{
	position:relative;
	top:0;
	left:-360px;	
}
