@charset "utf-8";
.u-brand{
background: rgb(75,137,136);
background: -moz-linear-gradient(top,  rgba(75,137,136,1) 0%, rgba(0,117,113,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,137,136,1)), color-stop(100%,rgba(0,117,113,1)));
background: -webkit-linear-gradient(top,  rgba(75,137,136,1) 0%,rgba(0,117,113,1) 100%);
background: -o-linear-gradient(top,  rgba(75,137,136,1) 0%,rgba(0,117,113,1) 100%);
background: -ms-linear-gradient(top,  rgba(75,137,136,1) 0%,rgba(0,117,113,1) 100%);
background: linear-gradient(to bottom,  rgba(75,137,136,1) 0%,rgba(0,117,113,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8988', endColorstr='#007571',GradientType=0 );
color:white;
}

