#AttractLoop {
    position: absolute;
    top: 170px;
}
#AttractLoop{
    width: 1080px;
    height: 1750px;
}
#AttractLoop .gallery>.x650x1024 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:200px;
    width: 650px;
    height: 1024px;
    overflow: hidden;
}
#Touchclip{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1080px;
    height: 120px;
}