@charset "utf-8";
/* CSS Document */
#KeyboardView{
	position:relative;
}
#Keyboard{
	position:absolute;
    background-color:#e4dbcc;
    box-shadow: 2px 2px 5px #000000;
    width:550px;
    height:283px;
    border-radius:3px;
    border-color:#e4dbcc;
    display:table;
    text-align:left;
	
    color:#51423F;
}


#kb_text{
    width:440px;
    height:36px;
	position:absolute;
    background-color:#f6f3ed;
    top:15px;
    left:25px;
    padding-left:10px;
	padding-top:10px;
    text-align:left;  
    border:1px solid #cccccc;
}
#kb_keys{
    position:absolute;
    left:22px;
    top:69px;
    width:510px;
    height:200px;
}
#kb_enter{
	position:absolute;
    width:45px;
    height:45px;    
    right:22px;
	top:15px;
	/*background-image:url(/cms/vlad/images/kb_enter.png)*/
}
.kb_close{
	/*background-image:url(/cms/vlad/images/kb_close.png)*/
}
.kb_button{
    float:left;
    color:black;
    width:41px;
    height:41px;
    margin:5px;
    background-color:white;
    border-radius:3px;
    border-color:white;   
    text-align:center;  
    box-shadow: 1px 1px 3px #000000;
}
.kb_button span{
    float:none;    
    display:table-cell;
    vertical-align:middle;
    width:inherit;
    height:inherit;
    text-align:center;
    font-weight:600;
    font-size:18px;
}
.kb_space span{
    width:inherit;
	text-align:center;   
}
.kb_space{
    width:90px;
	text-align:center;   
}
#kb_hints{
	height:100px;
	position:relative;
	top:0;
}
#kb_hints ul{
	position:absolute;	
	margin:0;
	padding:0;	
	width:550px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;	
	background-color:#E2C3AF;
	list-style-type: none;
	list-style-position:inside;	
}
#kb_hints_list{
	bottom:0;
}
#kb_hints li{
	color:#51423F;
	padding-left:15px;
	border-style:solid;
    border-width:0 0 1px 0;
    border-color:#788d8b;
	height:20px;
	list-style:circle;
	list-style-position:inside;
}

